@font-face {
    font-family: 'vrinda';
    src: url('vrinda.eot');
    src: url('vrinda.eot') format('embedded-opentype'),
         url('vrinda.woff2') format('woff2'),
         url('vrinda.woff') format('woff'),
         url('vrinda.ttf') format('truetype'),
         url('vrinda.svg#vrinda') format('svg');
}
